<p>The {{name}} is in possession of these sweet stats:
	<ul>
		<li>Latitude: {{latitude}}</li>
		<li>Longitude: {{longitude}}</li>
		<li>Altitude: {{altitude}} {{units}}</li>
		<li>Velocity: {{velocity}} km/h (holy freakin' crap!)</li>
		<li>Visibility: {{visibility}}</li>
	</ul>
</p>